* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

img {
  max-width: 100%;
}

main {
  padding-top: 30px;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* navbar */
.navbar {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5.4px);
  border-bottom: 1px solid #222222;

  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.navbar__container {
  margin: 0 auto;

  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 20px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__profile {
  font-size: 12px;
  color: #b5b5b5;
}

.navbar__box-navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.navbar__link {
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 20px;
}

.add-post {
  border-radius: 8px;
  background-color: #111111;
}

.navbar__auth {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: coral;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.navbar__button {
  padding: 8px 20px;
  width: 90px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: coral;
  color: #000000;
  font-weight: 600;
  text-align: center;
}

/* post */
.post {
  padding: 20px;
  border-radius: 10px;
  background-color: #111111;

  display: flex;
  align-items: center;
  gap: 26px;
}

.post__image {
  width: 35%;
  border-radius: 8px;
  height: 200px;
}

.post__image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post__content {
  height: 100%;
  width: 65%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
}

.post__box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post__heading {
  font-size: 18px;
  font-weight: 500;
}

.post__summary {
  color: #cecece;
  line-height: 1.4;
}

.post__info {
  display: flex;
  font-size: 12px;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 30px;
}

.post__info span,
.post__info time {
  color: coral;
}

.post__detail {
  padding: 8px 20px;
  border-radius: 8px;
  text-decoration: none;
  background-color: coral;
  color: #000000;
  width: 100px;
  text-align: center;
}


/* footer */
.footer {
  padding: 20px 0;
  background-color: coral;
}

.footer__text {
  text-align: center;
  color: #000000;
}







form.login, form.register{
    max-width: 400px;
    margin: 0 auto;
}
input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}
button{
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: #555;
    border:0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
}
form.login h1, form.register h1{
    text-align: center;
}

div.post-page div.image{
    max-height:300px;
    display: flex;
    overflow:hidden;
}
div.post-page div.image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}
div.post-page a{
    color:#333;
    text-decoration: underline;
}
div.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
}
div.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
}
div.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}
div.content p{
    line-height: 1.7rem;
    margin: 30px 0;
}
div.content li{
    margin-bottom: 10px;
}
div.edit-row{
    text-align: center;
    margin-bottom: 20px;
}
div.post-page a.edit-btn{
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration: none;
}
a svg{
    height:20px;
}
