* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

img {
  max-width: 100%;
}

main {
  padding-top: 30px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
}

.content {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* navbar */
.navbar {
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5.4px);
  border-bottom: 1px solid #222222;

  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.navbar__container {
  margin: 0 auto;

  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 20px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__profile {
  font-size: 12px;
  color: #b5b5b5;
}

.navbar__box-navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.navbar__link {
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 20px;
}

.add-post {
  border-radius: 8px;
  background-color: #111111;
}

.navbar__auth {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: coral;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.navbar__button {
  padding: 8px 20px;
  width: 90px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: coral;
  color: #000000;
  font-weight: 600;
  text-align: center;
}

/* banner */
.banner {
  background: url('./../public/banner.jpg');
  background-position: right;
  background-size: cover;
  padding: 240px 0;
}

.banner__box {
  max-width: 1000px;
  margin: 0 auto;
}

.banner__heading {
  font-size: 60px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.banner__subheading {
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
  color: #000000;
}

/* post */
.post {
  padding: 20px;
  border-radius: 10px;
  background-color: #111111;

  display: flex;
  align-items: center;
  gap: 26px;
}

.post__image {
  width: 35%;
  border-radius: 8px;
  height: 200px;
}

.post__image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post__content {
  height: 100%;
  width: 65%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
}

.post__box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post__heading {
  font-size: 18px;
  font-weight: 500;
}

.post__summary {
  color: #cecece;
  line-height: 1.4;
}

.post__info {
  display: flex;
  font-size: 12px;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 30px;
}

.post__info span,
.post__info time {
  color: coral;
}

.post__detail {
  padding: 8px 20px;
  border-radius: 8px;
  text-decoration: none;
  background-color: coral;
  color: #000000;
  width: 100px;
  text-align: center;
}

/* post page */
.post-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-page__heading,
.post-change__heading {
  font-weight: semibold;
  font-size: 24px;
}

.post-page__box-info {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.post-page__time,
.post-page__author {
  font-size: 12px;
  font-weight: 500;
}

.post-page__edit {
  display: flex;
  justify-content: flex-end;
}

.post-page__edit-btn {
  padding: 8px 20px;
  color: #ffffff;
  background-color: #111111;
  text-decoration: none;
  border-radius: 8px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.post-page__edit-btn svg {
  width: 18px;
}

.post-page__image,
.post-page__image img {
  border-radius: 10px;
}

.post-page__summary {
  font-weight: 400;
  line-height: 1.4;
}

/* post-change */
.post-change {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.post-change__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-change__label {
  font-size: 12px;
  font-weight: 500;
}

.post-change__title,
.post-change__summary {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 8px;
}

.post-change__file {
  border: 1px solid #222222;
  border-radius: 8px;
  padding: 8px;
}

.post-change__button {
  width: 200px;
  border: none;
  border-radius: 8px; 
  font-weight: 600;
  outline: none;
  padding: 8px;
  background-color: coral;
  margin-bottom: 60px;
}


/* auth */
.auth {
  padding-top: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.auth__heading {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.auth__box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.auth__label {
  font-size: 12px;
}

.auth__password,
.auth__username {
  width: 300px;
  max-width: 360px;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.auth__button {
  margin-top: 4px;
  padding: 8px 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: coral;
  font-size: 14px;
  font-weight: 600;
}

/* footer */
.footer {
  padding: 20px 0;
  background-color: coral;
}

.footer__text {
  text-align: center;
  color: #000000;
}






